@font-face {
  font-family: "NeonOne";
  src: url("../fonts/NeonOneRegular.eot");
  src: url("../fonts/NeonOneRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NeonOneRegular.svg#NeonOneRegular") format("svg"), url("../fonts/NeonOneRegular.ttf") format("truetype"), url("../fonts/NeonOneRegular.woff") format("woff"), url("../fonts/NeonOneRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Klaxons";
  src: url("../fonts/Klaxons.eot");
  src: url("../fonts/Klaxons.eot?#iefix") format("embedded-opentype"), url("../fonts/Klaxons.svg#Klaxons") format("svg"), url("../fonts/Klaxons.ttf") format("truetype"), url("../fonts/Klaxons.woff") format("woff"), url("../fonts/Klaxons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("../fonts/Sansation_Regular.eot");
  src: url("../fonts/Sansation_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Sansation_Regular.woff2") format("woff2"), url("../fonts/SansationRegular.svg#SansationRegular") format("svg"), url("../fonts/SansationRegular.ttf") format("truetype"), url("../fonts/SansationRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Days";
  src: url("../fonts/Days.eot");
  src: url("../fonts/Days.svg#Days") format("svg"), url("../fonts/Days.ttf") format("truetype"), url("../fonts/Days.woff") format("woff"), url("../fonts/Days.eot?#iefix") format("embedded-opentype"), url("../fonts/Days.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.body {
  position: relative;
  background-color: #000;
  color: #dddcdb;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1342px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.modal-order .modal__cost {
  opacity: 0;
  pointer-events: none;
}

.backdrop.modal-cost .modal__order {
  opacity: 0;
  pointer-events: none;
}

.modal__order {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 500px;
  padding-top: 17px;
  padding-bottom: 20px;
  background: #1c1c1c;
}

.modal__cost {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 580px;
  padding-top: 17px;
  padding-bottom: 20px;
  background: #1c1c1c;
}

.modal__title {
  margin-bottom: 60px;
  margin-left: 30px;
  font-family: "Sansation";
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #0bda51;
}

.modal__text {
  width: 395px;
  height: 32px;
  margin-left: 30px;
  border: none;
  border-bottom: 2px solid rgba(225, 244, 243, 0.5);
  font-family: "Sansation";
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  background-color: transparent;
  color: rgba(225, 244, 243, 0.5);
}

.modal__text::after {
  content: "";
  width: 100%;
  height: 1px;
}

.modal__text:not(:last-child) {
  margin-bottom: 30px;
}

.modal__text:last-child {
  margin-bottom: 47px;
}

.modal__icon {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
}

.modal__paragraph-cost {
  margin-left: 30px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.modal__paragraph-cost--recolor {
  color: #0bda51;
}

.modal__paragraph {
  margin-left: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.modal__paragraph--recolor {
  color: #ff0b0b;
}

.modal__button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 37px;
  padding: 18px 97px;
  border: 3px solid #0bda51;
  background-color: transparent;
  font-family: "Sansation";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #0bda51;
  cursor: pointer;
}

.header {
  padding-top: 39px;
  font-size: 22px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 235px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "NeonOne";
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #f8f4ff;
  text-shadow: 0px 0px 3px #f8f4ff;
}

.header__logo--recolor {
  display: block;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-shadow: 0px 0px 3px #0bda51;
  color: #0bda51;
}

.header__logo--recolor::after {
  content: "";
  display: block;
  margin-left: 47px;
  height: 1px;
  width: 140px;
  background-color: #f8f4ff;
  -webkit-box-shadow: 0px 0px 4px 0.5px #f8f4ff;
          box-shadow: 0px 0px 4px 0.5px #f8f4ff;
}

.header__item {
  display: block;
  font-family: "Sansation";
}

.header__item:not(:last-child) {
  margin-right: 15px;
}

.header__link {
  display: block;
  color: #c1bfc3;
  margin-bottom: 5px;
  padding: 10px 0;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.header__link::after {
  content: "";
  margin-top: 5px;
  display: block;
  height: 1px;
  width: 90%;
  background-color: #f8f4ff;
  -webkit-box-shadow: 0px 0px 4px 0.5px #f8f4ff;
          box-shadow: 0px 0px 4px 0.5px #f8f4ff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.header__link:hover:not(:nth-child(3)) {
  color: #faf0e6;
}

.header__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
  .header__menu.open {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    padding: 40px 0;
    width: 100%;
    text-align: center;
    background-color: #ac3e94;
  }
}

.header__button {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__button {
    display: block;
    margin-top: 5%;
    height: 40px;
    width: 40px;
  }
}

.aboutUs {
  padding-top: 100px;
  padding-bottom: 50px;
}

@media screen and (min-width: 1342px) {
  .aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .aboutUs {
    margin-left: auto;
    margin-right: auto;
  }
}

.aboutUs__container {
  padding-top: 74px;
}

@media screen and (min-width: 1342px) {
  .aboutUs__container {
    width: 686px;
  }
}

.aboutUs__title {
  margin-bottom: 35px;
  max-width: 560px;
  font-family: "Days", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  color: #faf0e6;
  text-shadow: 0px 0px 2px #000000;
}

.aboutUs__title--color {
  color: #e761ca;
}

.aboutUs__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.aboutUs__button {
  font-size: 24px;
  font-family: "Sansation";
  font-weight: 400;
  color: #fff;
  border: 3px solid #ac3e94;
  -webkit-box-shadow: 0px 0px 15px #ac3e94;
          box-shadow: 0px 0px 15px #ac3e94;
  border-radius: 70px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .aboutUs__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

.aboutUs__button-cost {
  margin-top: 60px;
  padding: 14px 35px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .aboutUs__button-cost {
    margin-right: 88px;
  }
}

.aboutUs__button-order {
  padding: 14px 66px;
  background-color: #ac3e94;
}

@media screen and (max-width: 767px) {
  .aboutUs__button-order {
    margin-top: 20px;
  }
}

.aboutUs__img {
  margin-left: 126px;
  -webkit-box-shadow: 0px 0px 16px 8px #28052f;
          box-shadow: 0px 0px 16px 8px #28052f;
}

@media screen and (max-width: 1199px) {
  .aboutUs__img {
    display: none;
  }
}

.aboutUs__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.idea {
  margin-top: 154px;
  position: relative;
  padding-bottom: 100px;
}

@media screen and (min-width: 1342px) {
  .idea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.idea__img {
  padding-top: 116px;
}

@media screen and (max-width: 1199px) {
  .idea__img {
    display: none;
  }
}

.idea__neon-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 320px;
}

@media screen and (max-width: 1199px) {
  .idea__neon-img {
    display: none;
  }
}

@media screen and (min-width: 1342px) {
  .idea__container {
    max-width: 420px;
    margin-top: 222px;
    margin-left: 338px;
  }
}

.idea__title {
  font-family: "Days";
  margin-bottom: 35px;
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  color: #faf0e6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.idea__paragraph {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 24px;
}

.idea__paragraph--resize {
  font-size: 12px;
  line-height: 15px;
}

.idea__paragraph--margin {
  margin-left: 10px;
}

.idea__list {
  list-style: disc;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 24px;
  margin-left: 30px;
}

.idea__button {
  width: 461px;
  padding: 18px 72px;
  border: 4px solid #faf0e6;
  margin-top: 23px;
  cursor: pointer;
  background-color: transparent;
  color: #faf0e6;
  -webkit-filter: drop-shadow(0px 0px 3px #faf0e6);
          filter: drop-shadow(0px 0px 3px #faf0e6);
  font-family: "Sansation";
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
}

@media screen and (max-width: 767px) {
  .idea__button {
    max-width: 767px;
    width: 100%;
  }
}

.portfolio {
  padding-top: 50px;
  padding-bottom: 80px;
}

.portfolio__title {
  font-family: "Klaxons";
  text-align: center;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  color: #0bda51;
  text-shadow: 0px 0px 6px #0bda51;
}

.portfolio__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 11px 87px;
  border: 4px solid #009231;
  border-radius: 70px;
  cursor: pointer;
  background-color: transparent;
  color: #009231;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.swiper {
  margin-left: -50px;
  margin-right: -50px;
  margin-top: 153px;
  margin-bottom: 153px;
  padding-left: 50px;
  padding-right: 50px;
}

.swiper__button--next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.swiper__button--prev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swiper__slide {
  position: relative;
}

.swiper__slide:hover .swiper__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.swiper__overlay {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 353px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: rgba(11, 218, 81, 0.2);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.swiper__paragraph {
  width: 246px;
  margin-top: 20px;
  margin-left: 70px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #faf0e6;
}

.swiper__container {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.3);
}

.swiper__img {
  margin: auto;
}

.swiper__price {
  margin-left: 118px;
  font-family: "Sansation";
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
}

.order {
  padding-bottom: 108px;
}

.order__section-title {
  margin-bottom: 147px;
  font-family: "Days";
  font-weight: 400;
  font-size: 48px;
  line-height: 61px;
  text-align: center;
  color: #faf0e6;
}

.order__list {
  margin: -20px;
  margin-bottom: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .order__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .order__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.order__item {
  width: 318px;
  margin: 0 auto;
  padding-top: 60px;
  height: 509px;
  background-color: #0bda51;
  background: rgba(146, 146, 146, 0.2);
}

@media screen and (max-width: 767px) {
  .order__item {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .order__item {
    margin: 10px;
  }
}

.order__item:nth-child(2) .order__container {
  background: linear-gradient(45deg, #562c61 0%, #410bda 100%);
  -webkit-box-shadow: 0px 0px 8px #3b1cff;
          box-shadow: 0px 0px 8px #3b1cff;
}

.order__item:nth-child(3) .order__container {
  background: linear-gradient(45deg, #612f2c 0%, #da870b 100%);
  -webkit-box-shadow: 0px 0px 8px #da870b;
          box-shadow: 0px 0px 8px #da870b;
}

.order__item:nth-child(4) .order__container {
  background: linear-gradient(45deg, #612c4f 0%, #da0b6e 100%);
  -webkit-box-shadow: 0px 0px 8px #da0b6e;
          box-shadow: 0px 0px 8px #da0b6e;
}

.order__item:nth-child(2) .order__paragraph {
  width: 228px;
}

.order__item:nth-child(3) .order__paragraph {
  width: 251px;
}

.order__container {
  width: 150px;
  height: 150px;
  margin-left: 84px;
  background: linear-gradient(45deg, #2c613e 0%, #0bda51 100%);
  -webkit-box-shadow: 0px 0px 8px #0bda51;
          box-shadow: 0px 0px 8px #0bda51;
  border-radius: 50%;
}

.order__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.order__title {
  margin-top: 30px;
  margin-bottom: 24px;
  text-align: center;
  font-family: "Sansation";
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #faf0e6;
}

.order__paragraph {
  width: 224px;
  margin-left: 40px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #c1bfc3;
}

.order__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 66px;
  background: #ac3e94;
  border: 3px solid #ac3e94;
  -webkit-box-shadow: 0px 0px 15px #ac3e94;
          box-shadow: 0px 0px 15px #ac3e94;
  border-radius: 70px;
  cursor: pointer;
  font-family: "Sansation";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer {
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer__section-title {
  margin-bottom: 105px;
  font-family: "NeonOne";
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #0bda51;
}

.footer__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 145px;
}

@media screen and (min-width: 768px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__title {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #4a47a3;
}

.footer__social-link {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #9a9a9a;
}

.footer__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  background: linear-gradient(45deg, #4a47a3 0%, #3b1cff 50.52%, #3283e2 100%);
  border-radius: 50%;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 10px;
  }
}

@media screen and (max-width: 767px) {
  .footer__item {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer__item:last-child {
    margin-top: 20px;
  }
}

.footer__icon {
  margin: auto;
  fill: #fff;
}

.footer__copyright {
  margin-bottom: 12px;
  font-family: "Sansation";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #c1bfc3;
}

.footer__copyright--color {
  color: #0bda51;
}
/*# sourceMappingURL=main.css.map */