.aboutUs {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 184px;

  &__container {
    width: 686px;
    padding-top: 74px;
  }

  &__title {
    margin-bottom: 35px;
    max-width: 560px;
    font-family: "Days", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;

    &--color {
      color: #e761ca;
    }
  }

  &__paragraph {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
  }

  &__button {
    font-size: 24px;
    font-family: "Sansation";
    color: #fff;
    border: 3px solid #ac3e94;
    box-shadow: 0px 0px 15px #ac3e94;
    border-radius: 70px;
    cursor: pointer;
  }

  &__button-cost {
    margin-top: 60px;
    padding: 14px 35px;
    background-color: transparent;
    margin-right: 88px;
  }

  &__button-order {
    padding: 14px 66px;
    background-color: #ac3e94;
  }

  &__img {
    margin-left: 186px;
    box-shadow: 0px 0px 16px 8px #28052f;
  }
}
