.header {
  padding-top: 39px;
  font-size: 22px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: block;
    flex-wrap: nowrap;

    color: $secondary-accent-color;
    &::after {
      content: "";
      display: block;
      margin-left: 47px;
      height: 1px;
      width: 140px;
      background-color: #f8f4ff;
      box-shadow: 0px 0px 4px 0.5px #f8f4ff;
    }
  }

  &__item {
    display: block;
    font-family: "Sansation";
    &:nth-child(3) {
      font-family: "NeonOne";
      font-size: 44px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &__link {
    display: block;
    color: #c1bfc3;
    margin-bottom: 5px;
    transition: color 250ms linear;
    &::after {
      content: "";
      margin-top: 5px;
      display: block;
      height: 1px;
      width: 90%;
      background-color: #f8f4ff;
      box-shadow: 0px 0px 4px 0.5px #f8f4ff;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms linear;
    }

    &:hover:not(:nth-child(3)) {
      color: $secondary-text-color;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
}
